body {
    background-color: #74CB78;
}

html,
body {
    /*this is necessary for correctly positioning the footer */
	margin:0;
	padding:0;
	height:100%;
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #8a6d3b;
}

 h3 {
    color: white;
    font-family: 'Amatic SC';
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.navbar {
    margin: 0;
    background: url('http://www.mediafire.com/convkey/00be/58n3z7k9cbkae0bzg.jpg');
    color: white;
    font-family: 'Amatic SC';
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 3px solid #8a6d3b;
}
.navbar-brand, .navbar-brand:hover {
    color: white;
    font-size: 3rem;
}
.navbar-nav>li>a {
    color: white;
}

.navbar-header ~ .navbar-nav {
    text-align: center;
    margin: 0px;
}
 
.navbar ul li {
    color: white;
    transition: all 0.3s ease-in-out;
    border-radius: .5em;
}

.nav>li>a:focus {
    background: none;
}

.navbar-nav>li>a:hover {
    background-color: #74CB78;
    color: white;
}



.container img {
    clear: both;
    display: block;
}

#logo {
    display: inline;
    height: 40px;
    width: 40px;
    vertical-align: top;
    margin-top: -12px;
}





/* SPLASH STYLES
==========================================================================
======================================================================= */
.splash {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: url('http://davehughesdevelopment.com/papas/potato-bg.jpg');
    background-position: center top;
    background-size: cover;
    position: fixed;
    z-index: 999;
}

.splash .content-hold {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
}

.splash .content-hold h1 {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
}

.splash .content-hold .kicker {
    margin: 5px 0 0 0;
    padding: 0;
    display: block;    
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 3rem;
    font-weight: 700;
}

.splash .content-hold .banner-hold {
    background: url('http://www.mediafire.com/convkey/00be/58n3z7k9cbkae0bzg.jpg');
    border: 3px solid #8a6d3b;
    border-radius: .5em;
    padding: 20px;
}
.splash .content-hold .button-hold {
    text-align: center;
    margin: 30px 0 0 0;
}

.splash .content-hold .button-hold a {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 10px 0;
    width: 150px;
    margin: 0 10px 0 10px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.splash .content-hold .button-hold a:nth-child(1) {
    background: #74CB78;
}

.splash .content-hold .button-hold a:nth-child(2) {
    background: rgba(0, 0, 0, .3)
}

.splash .content-hold .button-hold a:nth-child(2):hover {
    background: rgba(0, 0, 0, .5)
}


header {
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #eee;
    color: white;
    position: relative;
}

header h1 {
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 7rem;
    line-height: 1em;
    margin: 0;
}

header .logo {
    height: 100px;
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.index-title {
  padding-left: 110px;
}

header p {
    font-style: italic;
}



/* POTATOES PAGE STYLES */


/* FILTERS */
.filter-options {
    background: url('http://www.mediafire.com/convkey/00be/58n3z7k9cbkae0bzg.jpg');
    color: white;
    font-family: 'Amatic SC';
    padding: 20px 10px;
    display: block;
    border: 3px solid #8a6d3b;
    border-radius: .5em;
}

.filter-options .title {
    font-family: 'Amatic SC';
    font-size: 6rem;
    font-weight: 600;
    padding: 0;
    display: inline;
}

.filter-options ul {
    margin: 15px 0 0 0;
    padding: 0;
}

.filter-options ul li label {
    display: inline-block;
    padding: .4em .25em .4em .5em;
    border: 1px solid #777;
    font-size: 2rem;
    font-weight: 700;
    background-color: #74CB78;
    transition: background-color 0.4s ease;
    margin-bottom: 0px;
}

.filter-options ul li label#search-btn {
    padding: .4em .5em;
}

.filter-options ul li {
    display: inline-block;
    margin: 5px 2px;
}

.filter-options ul li label:hover {
    background-color: #8a6d3b;
    cursor: pointer;
}

#search-chkbx:checked ~ ul #search-btn, 
#sort-name-radio:checked ~ ul #sort-name-btn, 
#sort-rating-radio:checked ~ ul #sort-rating-btn, 
#sort-reviews-radio:checked ~ ul #sort-reviews-btn, 
#sort-date-radio:checked ~ ul #sort-date-btn
{
  background-color: #8a6d3b;
}

#query-title {
    color: white;
    font-family: 'Amatic SC';
    display:none;
    font-size: 6rem;
    font-weight: 600;
    padding: 20px 10px 0 10px;
    overflow:hidden;
    text-align: center;
}

#search-input {
    background-color:transparent;
    border:none;
    width: auto;
}

#search-input:focus {
    outline: none;
}

#cancel-search {
    -webkit-appearance: initial;
    background-color: rgba(30,30,30,0.1);
    border:none;
    border-radius: 50%;
    display: inline-block;
    width: 50px;
    transition: background-color 0.1s ease;
}

#cancel-search:focus {
    outline: none;
}

#cancel-placeholder {
    display: inline-block;
    width: 50px;
}

#cancel-search:hover {
    background-color: rgba(30,30,30,0.3);
}

#query-title span {
    display:inline-block;
}


/* POTATOES */

.thumbnail {
    background: url('http://www.mediafire.com/convkey/00be/58n3z7k9cbkae0bzg.jpg');
    border: 3px solid #8a6d3b;
    border-radius: 4px;
    color: white;
}
a.thumbnail:hover {
    border-color: #8A6D3B;
}

.thumbnail .caption {
    color: white;
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 3rem;
    text-align:center;
}

.rating {
    text-align:center;
}

.potatoes-listing {
    margin: 40px auto 0 auto;
}

.potato-image {
    max-height: 50vh;
    border: 3px solid #8a6d3b;
    border-radius: .5em;
    height: 150px;
    overflow: hidden;
    background: center/cover no-repeat;
}

.potatoes-listing img {
    min-width: 100%;
    min-height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin: 0 auto;
}

.potato-gallery-potato {
    margin: 0 0 15px 0;
}

.potato-gallery-potato span {
    font-size: 2rem;
    color: white;
}

.potato-gallery-potato span:nth-child(2) {
    margin: 0 0 0 10px;
}





/* FOOTER STYLES
==========================================================================
======================================================================= */
#wrapper {
    min-height: 100%;
	position: relative;
}

footer {
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #8a6d3b;
    color: white;
    display: block;
    border-top: 3px solid #fcf8e3;
    padding: 10px;
    font-family: "Amatic SC";
    font-size: 2rem;
    font-weight: 700;
}


.footer-nav {
    text-align: center;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
    margin: 0 10px;
    background: #8A6D3B;
    padding: .2em;
    border-radius: .2em;
    white-space: nowrap;
}

.copyright {
  display: block;
  text-align: center;
  margin: 10px auto 0px auto;
  background: #8A6D3B;
    padding: .2em;
    border-radius: .2em;
}



@media (max-width: 768px) {
      .splash .content-hold h1 {
        font-size: 5em;
      }

      .splash .content-hold .button-hold a {
        margin: 3px 0;
      }

    .potato-gallery-potato h3 {
        min-height: 50px;
        font-size: 3.5rem;
    }
    
}

@media (max-width: 480px) {
    .potato-gallery-potato {
            max-width: 360px;
            margin: 0 auto;
            display:block;
            float:none;
            width: 100%
        }
}

/*VIEW STYLES*/

.new-form, .edit-form {
    margin: 15px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(200,200,200,.4);
    border-radius: 4px;
}

.view-title {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
}

 .potato-image {
     max-height: 50vh;
 }

 .potato-container {
     margin-top: 30px;
 }
 
 .potato-name {
     white-space: nowrap;
     overflow: hidden;
    text-overflow: ellipsis;
 }
 
 .review {
    border-radius: .5em;
    padding: .5em;
}

 .odd-review {
     background-color: rgba(200,200,200,.4);
 }
 
 .review-input {
     padding: 20px;
     margin-top: 20px;
 }
 
 .rate-label {
     display:block;
 }
 
 #collapsible-review-input {
     overflow:hidden;
     display:none;
}

 textarea {
     resize: vertical;
 }
 
 #cancel-review {
     margin: 0 4px;
 }


/*
.edit-form {
    max-width: 600px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background: white;
    padding: .5em;
    margin-top: 10px;
    border-radius: .5em;
}
*/
.image-preview {
    position: relative;
    height: 180px;
    max-width: 100%;
    margin: 30px;
}

.preview {
    position: absolute;
     max-width: 100%;
     max-height: 180px;
     margin:  0 auto;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 
#preview-text {
    text-align: center;
    color: white;
    width: 160px;
    padding: 70px 0;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(200,200,200,.4);
    border-radius: 4px;
}

hr {
    width: 90%;    
}

#caption-content {
    padding: 0 22px 20px;
    
}

#review-btn {
    margin: 0 7px;
}
#register-modal {
    color: white;
    font-family: 'Amatic SC';
    font-weight: 700;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.75);
}
 
#login-modal {
    color: white;
    font-family: 'Amatic SC';
    font-weight: 700;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.75);
}

.login-form {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: url('http://www.mediafire.com/convkey/00be/58n3z7k9cbkae0bzg.jpg');
    border: 3px solid #8a6d3b;
    border-radius: .5em;
    font-size: 2rem;
}

.login-form .title {
    margin: 0;
    font-size: 7rem;
}

.login-form .bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.x {
    font-size: 4rem;
    position: absolute;
    right: 5%;
    top: 0;
 }

.form {
    padding: 1em;
}

.form label {
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: 700;
}

.form-button {
    display: block;
    margin: 0 auto;
    padding: 8px 10px;
    border: 1px solid #777;
    color: white;
    font-family: 'Amatic SC', cursive;
    font-size: 2rem;
    font-weight: 700;
    background-color: #74CB78;
    transition: background-color 0.4s ease;
}
.form-button:hover {
    background-color: #8a6d3b;
}


#new-potato, #edit-potato {
    width: 100%;
}



/* Styles for 5-potato review rating input*/

#tray {
  display: inline-block;
  vertical-align: -80%;
}

.potato-rater {    
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    width: 48px;
    height: 48px;
    background-position: 0 0;
    float: right;
    margin: 0px;
}

#rate-1{
  background-image: url(http://www.mediafire.com/convkey/964a/1b3adbrht16ddpozg.jpg);
}

#rate-2{
  background-image: url(http://www.mediafire.com/convkey/964a/1b3adbrht16ddpozg.jpg);
}

#rate-3{
  background-image: url(http://www.mediafire.com/convkey/964a/1b3adbrht16ddpozg.jpg);
}

#rate-4{
  background-image: url(http://www.mediafire.com/convkey/964a/1b3adbrht16ddpozg.jpg);
}

#rate-5 {
  background-image: url(http://www.mediafire.com/convkey/964a/1b3adbrht16ddpozg.jpg);
}

#radio-5:checked ~ #tray > #rate-5,
#radio-5:checked ~ #tray > #rate-4, 
#radio-5:checked ~ #tray > #rate-3, 
#radio-5:checked ~ #tray > #rate-2, 
#radio-5:checked ~ #tray > #rate-1, 
#radio-4:checked ~ #tray > #rate-4, 
#radio-4:checked ~ #tray > #rate-3, 
#radio-4:checked ~ #tray > #rate-2, 
#radio-4:checked ~ #tray > #rate-1, 
#radio-3:checked ~ #tray > #rate-3, 
#radio-3:checked ~ #tray > #rate-2, 
#radio-3:checked ~ #tray > #rate-1, 
#radio-2:checked ~ #tray > #rate-2, 
#radio-2:checked ~ #tray > #rate-1, 
#radio-1:checked ~ #tray > #rate-1
{
  background-position: 0 -48px;
}

#tray:hover * {
  background-position: 0 0px !important;
}

#rate-1:hover, #rate-2:hover, #rate-2:hover ~ #rate-1, #rate-3:hover, #rate-3:hover ~ #rate-2, 
  #rate-3:hover ~ #rate-1, #rate-4:hover, #rate-4:hover ~ #rate-3, #rate-4:hover ~ #rate-2, #rate-4:hover ~ #rate-1, 
#rate-5:hover, #rate-5:hover ~ #rate-4,
  #rate-5:hover ~ #rate-3,     
  #rate-5:hover ~ #rate-2, 
  #rate-5:hover ~ #rate-1
{
  background-position: 0 -48px !important;
}

.rating-string {
  display: none;
  font-size: 3rem;
  white-space: nowrap;
}

#radio-1:checked ~ .rotten {
  display: inline;
}
#radio-2:checked ~ .cannon {
  display: inline;
}
#radio-3:checked ~ .meh {
  display: inline;
}
#radio-4:checked ~ .nice {
  display: inline;
}
#radio-5:checked ~ .hawt {
  display: inline;
}

#radio-1:hover ~ .rating-string,
#radio-2:hover ~ .rating-string,
#radio-3:hover ~ .rating-string,
#radio-4:hover ~ .rating-string,
#radio-5:hover ~ .rating-string
{
  display: none;
}

#radio-1:hover ~ .rotten {
  display: inline;
}
#radio-2:hover ~ .cannon {
  display: inline;
}
#radio-3:hover ~ .meh {
  display: inline;
}
#radio-4:hover ~ .nice {
  display: inline;
}
#radio-5:hover ~ .hawt {
  display: inline;
}