body {
    background-color: #74CB78;
}

a {
    color: inherit;
}
a:hover {
    text-decoration: none;
    cursor: pointer;
}

 h3 {
    color: white;
    font-family: 'Amatic SC';
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.navbar {
    margin: 0;
    background: url('https://corybuckley.files.wordpress.com/2011/04/burlap.jpg');
    background-size: contain;
    color: white;
    font-family: 'Amatic SC';
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 3px solid #8a6d3b;
}
.navbar-brand, .navbar-brand:hover {
    color: white;
    font-size: 3rem;
}
.navbar-nav>li>a {
    color: white;
}
 
.navbar ul li {
    color: white;
    transition: all 0.3s ease-in-out;
    border-radius: .5em;
    
}

.nav>li>a:focus, .navbar-nav>li>a:hover {
    background: #74CB78;
    color: white;
}

.new-form {
    margin: 30px;
    font-family: 'Open Sans', sans-serif;
}

.container img {
    clear: both;
    display: block;
}

#logo {
    display: inline;
    height: 40px;
    width: 40px;
    vertical-align: top;
    margin-top: -12px;
}





/* SPLASH STYLES
==========================================================================
======================================================================= */
.splash {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: url('http://davehughesdevelopment.com/papas/potato-bg.jpg');
    background-position: center top;
    background-size: cover;
    position: fixed;
    z-index: 999;
}

.splash .content-hold {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
}

.splash .content-hold h1 {
    margin: 0;
    padding: 0;
    font-family: 'Amatic SC', cursive;
    font-size: 6em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
}

.splash .content-hold .kicker {
    margin: 5px 0 0 0;
    padding: 0;
    display: block;
    font-size: 1.2em;
    color: #000;
}

.splash .content-hold .button-hold {
    text-align: center;
    margin: 30px 0 0 0;
}

.splash .content-hold .button-hold a {
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 10px 0;
    width: 150px;
    margin: 0 10px 0 10px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.splash .content-hold .button-hold a:nth-child(1) {
    background: #74CB78;
}

.splash .content-hold .button-hold a:nth-child(2) {
    background: rgba(0, 0, 0, .3)
}

.splash .content-hold .button-hold a:nth-child(2):hover {
    background: rgba(0, 0, 0, .5)
}


header {
    margin: 40px 0 20px 0;
    border-bottom: 1px solid #eee;
    color: white;
}

header h1 {
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 7rem;
    line-height: 1em;
    margin: 0;
}

header .logo {
    height: 100px;
    float: left;
}

header p {
    font-style: italic;
}

/* POTATOES PAGE STYLES */
.filter-options {
    background: url('https://corybuckley.files.wordpress.com/2011/04/burlap.jpg');
    background-size: contain;
    color: white;
    font-family: 'Amatic SC';
    padding: 20px 10px;
    display: block;
    border: 3px solid #8a6d3b;
    border-radius: .5em;
}

.filter-options .title {
    font-family: 'Amatic SC';
    font-size: 6rem;
    font-weight: 600;
    padding: 0;
    display: inline;
}

.filter-options ul {
    margin: 15px 0 0 0;
    padding: 0;
}

.filter-options ul li {
    display: inline-block;
    margin: 0 8px 5px 0;
    padding: 8px 10px;
    border: 1px solid #777;
    font-size: 2rem;
    font-weight: 700;
    background-color: #74CB78;
    transition: all 0.4s ease;
}

.filter-options ul li:hover {
    background: #8a6d3b;
    cursor: pointer;
}

.filter-options-selected {
    background: #333 !important;
    color: #eee;
}

.thumbnail {
    background: url('https://corybuckley.files.wordpress.com/2011/04/burlap.jpg');
    border: 3px solid #8a6d3b;
    border-radius: 4px;
    background-size: cover;
    color: white;
}
a.thumbnail:hover {
    border-color: #8A6D3B;
}

.thumbnail .caption {
    color: white;
    font-family: 'Amatic SC';
    font-weight: 700;
    font-size: 3rem;
    text-align:center;
}

.rating {
    text-align:center;
}

.potatoes-listing {
    margin: 40px auto 0 auto;
}

.potato-image {
    max-height: 50vh;
    border: 3px solid #8a6d3b;
    border-radius: .5em;
    height: 150px;
    overflow: hidden;
}

.potatoes-listing img {
    width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    margin: 0 auto;
}

.potato-gallery-potato {
    margin: 0 0 15px 0;
}

.potato-gallery-potato span {
    font-size: 2rem;
    color: white;
}

.potato-gallery-potato span:nth-child(2) {
    margin: 0 0 0 10px;
}





/* FOOTER STYLES
==========================================================================
======================================================================= */
footer {
    position: fixed;
    background: #8a6d3b;
    background-size: cover;
    color: white;
    display: block;
    border-top: 3px solid #fcf8e3;
    padding: 10px;
    font-family: "Amatic SC";
    font-size: 2rem;
    font-weight: 700;
    width: 100%;
    bottom: 0px;

}


.footer-nav {
    text-align: center;
}

.footer-nav ul {
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
    margin: 0 10px;
    background: #8A6D3B;
    padding: .2em;
    border-radius: .2em;
}

.copyright {
  display: block;
  text-align: center;
  margin: 10px auto 0px auto;
  background: #8A6D3B;
    padding: .2em;
    border-radius: .2em;
}



@media (max-width: 768px) {
      .splash .content-hold h1 {
        font-size: 5em;
      }

      .splash .content-hold .button-hold a {
        margin: 3px 0;
      }

    .potato-gallery-potato h3 {
        font-size: 1.5rem;
        min-height: 50px;
    }
}

 .potato-image {
     max-height: 50vh;
 }

 .potato-container {
     margin-top: 30px;
 }
 .review {
    border-radius: .5em;
    padding: .5em;
}

 .odd-review {
     background-color: #DDD;
 }

.edit-form {
    max-width: 600px;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    background: white;
    padding: .5em;
    margin-top: 10px;
    border-radius: .5em;
}
.image-preview {
    position: relative;
    height: 180px;
    max-width: 100%;
    margin: 30px;
}

.preview {
    position: absolute;
     max-width: 100%;
     max-height: 180px;
     margin:  0 auto;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 
 #preview-text {
    text-align: center;
    color: #ccc;
    width: 100%;
 }


hr {
    width: 90%;    
}

#caption-content {
    padding: 0 22px 20px;
    
}

#review-btn {
    margin: 0 7px;
}
 
#login-modal {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.75);
}

#new-potato {
    width: 100%;
}