<!-- HEADER -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img 
                    src="http://findicons.com/files/icons/1187/pickin_time/128/potato.png"
                    id="logo">
                    Hawt Potato!</a>
                </div>
        
                <!-- LINK TO OUR PAGES. ANGULAR HANDLES THE ROUTING HERE -->
            
                <!-- If no user signed in -->
                <ul class="nav navbar-nav pull-right" ng-if="!currentUser.username">
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Sign In</a></li>
                </ul>
                
                <!-- If user is signed in -->
                <ul class="nav navbar-nav pull-right" ng-if="currentUser.username">
                    <li><a href="" ng-click="userLogout()">Log Out</a></li>
                    <li><a href="/profile">{{currentUser.username}}</a></li>
                </ul>
                
                <ul class="nav navbar-nav pull-right">
                    <li><a href="/potatoes">Potatoes</a></li>
                    <li><a href="/potatoes/new">Add Potato</a></li>
                </ul>
            </div>
        </nav>

<div class="jumbotron text-center">
    <h1>Edit your potatoes</h1>
</div>
    {{currentUser.username}}
<div class="edit-form">
    <form ng-submit="updatePotato()">
        <div class="form-group">
            <label for="name">Potato Name</label>
            <input placeholder="Potato Name" ng-model="potato.name" id="name" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="image">Potato Image</label>
            <input placeholder="Potato Image URL" ng-model="potato.image" id="image" class="form-control"/>
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <img ng-src="{{ potato.image }}">
</div>