<!--
<div class="edit-form">
    <h1 class="text-center">Edit {{ potato.name }}</h1>
    <form ng-submit="updatePotato()">
        <div class="form-group">
            <label for="name">Potato Name</label>
            <input placeholder="Potato Name" ng-model="potato.name" id="name" class="form-control"/>
          </div>
          <div class="form-group">
            <label for="image">Potato Image</label>
            <input placeholder="Potato Image URL" ng-model="potato.image" id="image" class="form-control"/>
          </div>
          <div class="image-preview">
                <img ng-src="{{ potato.image }}">
            </div>
          <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

-->

<div class="container potato-container">
     <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="add-content">
            <div class="thumbnail">
                <h1 class="text-center view-title">Edit {{ potato.name }}</h1>
                <div class="container" id="edit-potato">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="image-preview">
                                <div ng-hide="potato.image" class="preview" id="preview-text">Image<br>Preview</div>
                                <img class="preview" ng-if="potato.image" ng-src={{potato.image}} alt="Image Preview">  
                            </div>
                        </div>
                        
                        <div class="col-md-8">
                            <div class="new-form">
                                <form ng-submit="updatePotato()" class="clearfix">
                                    <div class="form-group">
                                        <label for="name">Potato Name</label>
                                        <input placeholder="Potato Name" ng-model="potato.name" id="name" class="form-control"/>
                                      </div>
                                      <div class="form-group">
                                        <label for="image">Potato Image</label>
                                        <input placeholder="Potato Image URL" ng-model="potato.image" id="image" class="form-control"/>
                                      </div>
                                      <button type="submit" class="btn btn-default pull-right">Submit</button>
                                </form>
                            </div><!--form-->
                        </div><!--form column-->
                    </div><!--Row-->
                </div><!--container-->
                

            </div>  <!--Thumbnail-->
        </div> <!--center column-->
    </div> <!--Row-->
</div>
