<div class="container potato-container">
     <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" id="show-content">
            <div class="thumbnail">
                <img class="potato-image" ng-src="{{ potato.image }}"></img>
                
                <div class="caption-full" id="caption-content">
                    <hr>
                    <h1>{{potato.name}}</h1>
                    <p>
                        <em>Submitted By <strong>{{potato.author.username}}</strong></em>
                    </p>
                    <div class="text-right" ng-hide="currentUser._id !== potato.author.id">
                        <a class="btn btn-sm btn-danger delete-button" ng-click="deletePotato(potato)">Delete</a>
                        <a class="btn btn-sm btn-warning" href="/potatoes/{{ potato._id }}/edit">Edit</a>
                    </div>
                    <hr>
                    <p>
                        Average Rating: {{potato.average_rating}} out of 5 potatoes<br> 
                        {{potato.num_of_reviews}} reviews
                    </p>
                    <p>{{potato.description}}</p>
                </div>  <!--caption-->
            </div>  <!--Thumbnail-->
            <div class="well thumbnail">
                <!--<button class="btn btn-sm btn-success pull-right update-btn" ng-if="isLoggedin && hasReview">Update your Review</button>-->
                <button class="btn btn-sm btn-success pull-right" id="review-btn" ng-if="hasReview" ng-click="showReview()">Update your Review</button>
                <button class="btn btn-sm btn-success pull-right" id="review-btn" ng-if="isLoggedin && !hasReview" ng-click="showReview()">Review</button>
                <button class="btn btn-sm btn-success pull-right" ng-if="!isLoggedin" ng-click="showLogin()">Login to Review</button>
                <h3>Reviews for {{potato.name}}</h3>
                
                <div id="collapsible-review-input">
                    <div class="review odd-review review-input clearfix">
                        <form>
                            <div class="form-group" >
                                <label class="rate-label">Rate this Potato</label>
                                <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-1" value="1" required>
                                <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-2" value="2">
                                <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-3" value="3" checked="checked">
                                <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-4" value="4">
                                <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-5" value="5">
                                
                                
                                <div id='tray' class="cf">
                                
                                <label for="radio-5" class="potato-rater potato-rater-potato-gray48" id='rate-5'></label>
                                  <label for="radio-4" class="potato-rater potato-rater-potato-gray48"id='rate-4'></label>
                                  <label for="radio-3" class="potato-rater potato-rater-potato-gray48"id='rate-3'></label>
                                  <label for="radio-2" class="potato-rater potato-rater-potato-gray48"id='rate-2'></label>
                                  <label for="radio-1" class="potato-rater potato-rater-potato-gray48"id='rate-1'></label>
                                </div>
                                
                                <h3 id="rotten" class="rating-string rotten">Rotten!</h3>
                                <h3 id="cannon" class="rating-string cannon">Potato Cannon fodder</h3>
                                <h3 id="meh" class="rating-string meh">Meh.</h3>
                                <h3 id="nice" class="rating-string nice">Nice 'n Crispy</h3>
                                <h3 id="hawt" class="rating-string hawt">Hawt! Hawt! Hawt!</h3>
                                
                              </div>
                              <div class="form-group">
                                <label for="image">Review this Potato</label>
                                <textarea placeholder="Write your review" ng-model="review.comment" id="comment" class="form-control"  required/>
                              </div>
                              <button type="submit" class="btn btn-sm pull-right btn-success" ng-if="!hasReview"  ng-click="newReview()">Submit</button>
                              <button type="submit" class="btn btn-sm pull-right btn-success" ng-if="hasReview"  ng-click="updateReview()">Update</button>
                              <div class="btn btn-sm pull-right btn-warning" ng-click="showReview">Cancel</div>
                        </form>
                        
                    </div>
                </div>
                
                <hr>
                <div ng-repeat="review in potato.reviews">
                    <div class="review" ng-class-odd="'odd-review'">
                        <strong>{{ review.author.username }}</strong>
                        <span class="pull-right">{{ review.date | date : format : shortDate}}</span>
                        <p>
                            {{ review.comment }}
                        </p> 
                        <p>
                            {{ review.rating }} out of 5 potatoes
                        </p>
                    </div>  <!--review div-->
                </div>    <!--reviews-->
             </div> <!--Ratings well-->
        </div> <!--Right column-->
    </div> <!--Row-->
</div>    <!--Container-->
</div>