<!--

<div class="container">
    <div class="jumbotron text-center">
        <h1>Review {{ potato.name }}</h1>
    </div>
    
    <div class="container new-potato">
        <img ng-if="potato.image" ng-src={{potato.image}}>
        
        <div class="new-form">
            <form ng-submit="newReview()">
                <div class="form-group">
                    <label for="name">Review Rating</label>
                    <input placeholder="Rating" ng-model="review.rating" id="rating" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label for="image">Review Comment</label>
                    <input placeholder="Comment" ng-model="review.comment" id="comment" class="form-control"/>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>

-->

<div class="container">
    <div class="jumbotron text-center">
        <h1>Review {{ potato.name }}</h1>
    </div>
    
    <div class="container new-potato">
        <img ng-if="potato.image" ng-src={{potato.image}}>
        
        <div class="new-form">
            <form ng-submit="newReview()">
                <div class="form-group">
                    <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-1" value="1">
                    <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-2" value="2">
                    <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-3" value="3">
                    <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-4" value="4">
                    <input ng-model="review.rating" class="hidden" type="radio" name="rating" id="radio-5" value="5">
                    
                    
                    <div id='tray' class="cf">
                    
                    <label for="radio-5" class="potato-rater potato-rater-potato-gray48" id='rate-5'></label>
                      <label for="radio-4" class="potato-rater potato-rater-potato-gray48"id='rate-4'></label>
                      <label for="radio-3" class="potato-rater potato-rater-potato-gray48"id='rate-3'></label>
                      <label for="radio-2" class="potato-rater potato-rater-potato-gray48"id='rate-2'></label>
                      <label for="radio-1" class="potato-rater potato-rater-potato-gray48"id='rate-1'></label>
                    </div>
                    
                    <h3 id="rotten" class="rating-string rotten">Rotten!</h3>
                    <h3 id="cannon" class="rating-string cannon">Potato Cannon fodder</h3>
                    <h3 id="meh" class="rating-string meh">Meh.</h3>
                    <h3 id="nice" class="rating-string nice">Nice 'n Crispy</h3>
                    <h3 id="hawt" class="rating-string hawt">Hawt! Hawt! Hawt!</h3>
                    
                  </div>
                  <div class="form-group">
                    <label for="image">Review Comment</label>
                    <input placeholder="Comment" ng-model="review.comment" id="comment" class="form-control"/>
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>